# Teste Mysql

In [6]:
import sqlite3
import pandas as pd
import mysql.connector
from databases import Mysql, Sqlite
from mysql.connector import errorcode

In [7]:
dict_df = {'Nome': ['Bruno'],
           'Status': ['Casado'],
           'Profissão': ['Cientista de Dados']}

df_test = pd.DataFrame(dict_df)

In [8]:
df_test.head()

    Nome  Status           Profissão
0  Bruno  Casado  Cientista de Dados

In [9]:
bd = Mysql()

In [10]:
#Criando a tabela
query = "CREATE TABLE TEST (Nome VARCHAR(20), Status VARCHAR(20), Profissão VARCHAR(20)) CHARACTER SET 'UTF8MB4' "
bd.create_table(query=query, user='brunods', password='Bruno2208', host='127.0.0.1', database='brunods')

Tabela criada no Mysql com sucesso
Conexão fechada com o Mysql

In [11]:
#Inserindo Dados
bd.insert_data(df=df_test, tabela=' TEST', user='brunods', password='Bruno2208', host='127.0.0.1', database='brunods')

Conexão fechada com o Mysql

In [12]:
# Coletando os dados
query = "SELECT * FROM brunods.TEST"
dataset = bd.retrieve_data(query=query, user='brunods', password='Bruno2208', host='127.0.0.1', database='brunods', connect=True)

Buscando os dados!!!
Conexão fechada com o Mysql

In [13]:
dataset.head()

    Nome  Status           Profissão
0  Bruno  Casado  Cientista de Dados

# Sqlite3

In [14]:
bd = Sqlite()

In [15]:
#Criando Tabela
query = "CREATE TABLE test01 (Nome VARCHAR(20), Status VARCHAR(20), Profissão VARCHAR(20))"
bd.create_table(query=query, database='bruno-ds')

Conexão encerrada!!!

In [16]:
#Inserindo Dados
bd.insert_data(df=df_test, tabela='test01', database='bruno-ds')

Conexão encerrada

In [17]:
#Coletando os dados
query="SELECT * FROM test01"
dataset = bd.retrieve_data(query=query, database='bruno-ds')
dataset.head()

Buscando os dados!!!
Conexão encerrada!!!

    Nome  Status           Profissão
0  Bruno  Casado  Cientista de Dados